#notebookPanel {
    overflow-y: auto;
    max-width: 90svw;
    max-height: 90svh;
    min-width: 100px;
    min-height: 50px;
    border-radius: 10px;
    border: 1px solid var(--SmartThemeBorderColor);
    position: fixed;
    padding: 10px;
    flex-direction: column;
    box-shadow: 0 0 10px var(--black70a);
    z-index: 3000;
    left: 0;
    top: 0;
    margin: 0;
    right: unset;
    width: calc(((100svw - var(--sheldWidth)) / 2) - 1px);
}

#notebookPanel .react-tabs__tab--selected {
    background: var(--SmartThemeQuoteColor);
    border-color: var(--SmartThemeBorderColor);
    color: var(--SmartThemeBodyColor);
}

#notebookPanel .ql-toolbar.ql-snow .ql-formats {
    margin-right: 5px;
}

#notebookPanel .react-tabs__tab:focus:after {
    display: none;
}

#notebookPanel .react-tabs__tab-list {
    margin: 10px 0 10px;
}

#notebookPanel .react-tabs__tab:hover {
    filter: brightness(1.2) contrast(0.6);
}

#notebookPanel .ql-toolbar.ql-snow,
#notebookPanel .ql-container.ql-snow {
    border: none;
    font-family: inherit;
    padding: 0;
}

#notebookPanel .ql-editor {
    line-height: normal;
    padding: 10px;
    min-height: 15em;
}

#notebookPanel .ql-editor.ql-blank::before {
    color: unset;
    font-family: inherit;
    opacity: 0.6;
}

#notebookPanel .ql-snow .ql-picker,
#notebookPanel .ql-snow .ql-picker.ql-expanded .ql-picker-label {
    color: var(--SmartThemeBodyColor);
}

#notebookPanel .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
    border-color: transparent;
}

#notebookPanel .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options,
#notebookPanel .ql-snow .ql-tooltip {
    border-color: var(--SmartThemeBorderColor);
    color: var(--SmartThemeBodyColor);
    background-color: var(--SmartThemeBlurTintColor);
    border-radius: 10px;
    box-shadow: none;
}

#notebookPanel .ql-snow .ql-tooltip {
    left: 0 !important;
}

#notebookPanel .ql-snow a {
    color: var(--SmartThemeQuoteColor);
}

#notebookPanel .ql-snow .ql-tooltip input[type=text] {
    background-color: var(--black30a);
    color: var(--SmartThemeBodyColor);
    border: 1px solid var(--SmartThemeBorderColor);
    border-radius: 5px;
    font-size: calc(var(--mainFontSize) * 0.9);
}

#notebookPanel .ql-snow.ql-toolbar button:hover,
#notebookPanel .ql-snow .ql-toolbar button:hover,
#notebookPanel .ql-snow.ql-toolbar button:focus,
#notebookPanel .ql-snow .ql-toolbar button:focus,
#notebookPanel .ql-snow.ql-toolbar button.ql-active,
#notebookPanel .ql-snow .ql-toolbar button.ql-active,
#notebookPanel .ql-snow.ql-toolbar .ql-picker-label:hover,
#notebookPanel .ql-snow .ql-toolbar .ql-picker-label:hover,
#notebookPanel .ql-snow.ql-toolbar .ql-picker-label.ql-active,
#notebookPanel .ql-snow .ql-toolbar .ql-picker-label.ql-active,
#notebookPanel .ql-snow.ql-toolbar .ql-picker-item:hover,
#notebookPanel .ql-snow .ql-toolbar .ql-picker-item:hover,
#notebookPanel .ql-snow.ql-toolbar .ql-picker-item.ql-selected,
#notebookPanel .ql-snow .ql-toolbar .ql-picker-item.ql-selected,
#notebookPanel .ql-snow.ql-toolbar button:hover .ql-stroke,
#notebookPanel .ql-snow .ql-toolbar button:hover .ql-stroke,
#notebookPanel .ql-snow.ql-toolbar button:focus .ql-stroke,
#notebookPanel .ql-snow .ql-toolbar button:focus .ql-stroke,
#notebookPanel .ql-snow.ql-toolbar button.ql-active .ql-stroke,
#notebookPanel .ql-snow .ql-toolbar button.ql-active .ql-stroke,
#notebookPanel .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
#notebookPanel .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
#notebookPanel .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
#notebookPanel .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
#notebookPanel .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
#notebookPanel .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
#notebookPanel .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
#notebookPanel .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
#notebookPanel .ql-snow.ql-toolbar button:hover .ql-stroke-miter,
#notebookPanel .ql-snow .ql-toolbar button:hover .ql-stroke-miter,
#notebookPanel .ql-snow.ql-toolbar button:focus .ql-stroke-miter,
#notebookPanel .ql-snow .ql-toolbar button:focus .ql-stroke-miter,
#notebookPanel .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
#notebookPanel .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
#notebookPanel .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
#notebookPanel .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
#notebookPanel .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
#notebookPanel .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
#notebookPanel .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
#notebookPanel .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
#notebookPanel .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
#notebookPanel .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
    color: var(--SmartThemeBodyColor);
    filter: brightness(1.2) contrast(0.6);
    stroke: var(--SmartThemeBodyColor);
}

#notebookPanel .ql-container {
    font-size: var(--mainFontSize);
}

#notebookPanel .ql-clipboard {
    position: fixed !important;
}

#notebookPanel #notebookPanelHolder {
    margin-top: 15px;
}

#notebookPanel .ql-editor ol,
#notebookPanel .ql-editor ul {
    padding-left: 0.5em;
}
